---
import Layout from "../layouts/Layout.astro";
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <h1>TP6</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/rendu-dynamique/">ici  Rendu dynamique</a></li>
    <li><a href="/rendu-statique/">ici  Rendu statique</a></li>
  </ul>

  <h2>Graphique global (toutes espèces)</h2>
  <PlotFigure
    options={{
      marks: [
        Plot.dot(penguins, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
      x: { label: "Longueur du bec (mm)" },
      y: { label: "Profondeur du bec (mm)" },
      title: "Toutes les espèces de pingouins",
    }}
  />
</Layout>
